@import url('https://fonts.googleapis.com/css2?family=Notable&family=Permanent+Marker&&family=Anton&Oswald:wght@500&family=Poiret+One&family=Poppins&family=Courgette&family=Kalam&family=Great+Vibes&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  padding: 0px;
  margin: 0px;
  font-family: Arial;
}

@font-face {
  font-family: 'Good Times';
  src: local('Goot Times'), url(fonts/good\ times\ rg.ttf) format('ttf');
}
