.adminapprove {
    background: #18C7FF;
    background: -moz-linear-gradient(top, #18C7FF 0%, #FBFEFF 100%);
    background: -webkit-linear-gradient(top, #18C7FF 0%, #FBFEFF 100%);
    background: linear-gradient(to bottom, #18C7FF 0%, #FBFEFF 100%);
}

.bg-approved {
    background: green;
    color: white;
}

.bg-pending {
    background: rgb(1, 97, 141);
    color: white;
}

.bg-suspended {
    background: red;
    color: white;
}