.physiciangreetingbox {
    background: #1BC7FF;
    background: -moz-linear-gradient(top, #1BC7FF 0%, #fbfeff 100%);
    background: -webkit-linear-gradient(top, #1BC7FF 0%, #fbfeff 100%);
    background: linear-gradient(to bottom, #1BC7FF 0%, #fbfeff 100%);
    color: #1666A1;
}