.pharmacystate {
    background: url(images/logo-pharmacy-3215049_1920.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
}