.searchBox {
    position: absolute;
    z-index: 1;
    display: block;
    left: 50%;
    top: 50%;
    /*
    height: 652px;
    width: 511px;
    */
    background: #18c7ff;
    background: -moz-linear-gradient(top, #18c7ff 0%, #fbfeff 100%);
    background: -webkit-linear-gradient(top, #18c7ff 0%, #fbfeff 100%);
    background: linear-gradient(to bottom, #18c7ff 0%, #fbfeff 100%);
    border: solid black 1px;
    margin: -326px -255px;
    font-family: Arial;
}
  

  .pvp-10 {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .f-arial-14 {
    font-family: arial;
    font-size: 14px;
  }
  
   
  .f-arial-13 {
    font-family: arial;
    font-size: 13px;
  }
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.searchBoxHeader {
    font-size: 26px;
    font-weight: 700;
    color: #F8FEFF;
    text-align: center;
}

#headerText {
    margin-top: 9px;
}

.item-selected {
    color: white;
    background-color: black;
}
  
.item-unselected {
    color: black;
    background-color: white;
}
  