table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    max-width: 100%;
}
/*
table, th, td {
    border: 1px solid black;
}
*/
.statebasic {
    height: 1224px;
    margin-top: 0px;
    background-size: cover;
    background-color: #1c8fdb;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 25% 25%;
    justify-items: center;
    align-items: center;
}

.statebasic-nogrid {
    height: 1224px;
    margin-top: 0px;
    background-size: cover;
    background-color: #1c8fdb;
}

.mainbutton {
    -webkit-border-radius: 61px;
    -moz-border-radius: 61px;
    border-radius: 61px;
    height: 106px;
    width: 630px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    font-family: Impact;
    padding: 12px;
    background-color: #1C84C8;
    box-shadow: 5px 5px 5px 0px #404040;
    -webkit-box-shadow: 5px 5px 5px 0px #404040;
    -moz-box-shadow: 5px 5px 5px 0px #404040;
    border: solid #797979 1px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    grid-column: 2;
    grid-row: 2;
    padding-top: 30px;
}
    
.mainbutton:hover {
    background: #169BD5;
    /*border: solid #ED3333 1px;*/
    -webkit-border-radius: 61px;
    -moz-border-radius: 61px;
    border-radius: 61px;
    text-decoration: none;
}

.bigbutton {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: white;
    background: #1C84C8
}
  
.bigbutton:hover {
    background: #169BD5;
}
  
.bigbutton:active {
    background: #2549b8;
}

.bigbutton:disabled {
    color: #C4CCDF;
}

.height-control {
    max-width: 100%;
    overflow-y: scroll;
    max-height: 700px;
}

.height-control-150 {
    max-height: 150px;
    overflow-y: scroll;
}

.height-control-312 {
    max-height: 312px;
    overflow-y: scroll;
}

.height-control-500 {
    max-height: 500px;
    overflow-y: scroll;
}

.no-background {
    background: transparent;
}
  
.no-border {
    border: none
}
  
.z-index-1 {
    z-index: 1;
}

.z-index-10 {
    z-index: 10;
}

.z-index-100 {
    z-index: 100;
}

.z-index-200 {
    z-index: 200;
}

.m-auto {
    margin: auto
}

.pl2-5 {
    padding-left: 23px;
}

.flex-basis-1
{
    flex-basis: 20%
}

.f-arial-13 {
    font-family: Arial;
    font-size: 13px;
    color: #8C8C8C;
}

.f-arial-13-nocolor {
    font-family: Arial;
    font-size: 13px;
}

.f-arial-30 
{
    font-family: Arial;
    font-size: 30px;
}

.f-arial-14 {
    font-family: Arial;
    font-size: 14px;
    color: #8C8C8C;
}

.f-arial-16-b {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}

.f-oswald-30 {
    font-family: "Oswald";
    font-size: 30px;
}

.f-oswald-40 {
    font-family: "Oswald";
    font-size: 40px;
}

.t-shadow-1 {
    text-shadow: 3px 4px 7px;
}

.f-kalam-24 {
    font-family: 'Kalam', cursive;
    font-size: 24px;
}

.f-kalam-30 {
    font-family: 'Kalam', cursive;
    font-size: 30px;
}

.f-oswald-20 {
    font-family: "Oswald";
    font-size: 20px;
}
 
.f-link-14 {
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    color: #169BD5;
}

.f-link-16
{
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    color: #169BD5;
}

.f-link-courgette-27 
{
    font-family: 'Courgette', cursive;
    font-size: 27px;
    text-decoration: none;
    color: rgb(3, 74, 156)
}

.f-link-courgette-27:hover,
.f-link-courgette-27:active
{
    color: rgb(5, 34, 71);
}

.f-link-30 {
    font-family: Arial;
    font-size: 30px;
    text-decoration: none;
    color: blue;
}

.f-legend {
    font-family: Arial;
    font-weight: 700;
    font-size: 24px;
    color: #8C8C8C;
    text-shadow: 3px 3px 10px
}

.bg-buttonblue {
    background-color: #169BD5;
    border-color: #797979;
    color: #FFFFFF;
}

.bg-buttonblue:hover {
    background-color: #138BBF;
    cursor: pointer;
}

.bg-buttonblue:disabled {
    color: #C1C1C1;
    cursor: wait;
}

.bg-white {
    background: white;
}

.bg-red {
    background: red;
}

.bg-green { 
    background: green;
}

.bg-lightblue 
{
  background: rgba(215, 250, 249, 0.5);
}

.background-18C7FF {
    background: #18c7ff
}

.border-thick-lb {
    border: 20px solid #D7FAF9;
    background: rgba(215, 250, 249, 0.5);
}

.button-grid {
    align-self: flex-end;
}

.c-gray {
    color: #797979;
}

.c-blue {
    color: blue;
}

.c-deepblue {
    color: #003B5C;
}

.w-84 {
    width: 84%;
}
  
.w-94 {
    width: 93%;
}

.w-90 {
    width: 90%;
}

.w-98 {
    width: 98%
}

.w--100 {
    width: 100px;
}

.b--gray {
    border-color: #8C8C8C
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-nf {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
  
.close-nf:hover,
.close-nf:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
.gridMiddle {
    grid-row: 0;
    grid-column: 2;
}

.gr-1-1 {
    grid-row: 1;
    grid-column: 1;
}

.gr-1-2 {
    grid-row: 1;
    grid-column: 2;
}

.gr-1-3 {
    grid-row: 1;
    grid-column: 3;
}

.gr-2-1 {
    grid-row: 2;
    grid-column: 1;
}

.gr-2-2 {
    grid-row: 2;
    grid-column: 2;
}

.gr-2-3 {
    grid-row: 2;
    grid-column: 3;
}

.gr-3-1 {
    grid-row: 3;
    grid-column: 1;
}

.gr-3-2 {
    grid-row: 3;
    grid-column: 2;
}

.gr-3-3 {
    grid-row: 3;
    grid-column: 3;
}

.justify-self-end {
    justify-self : flex-end;
}

.c-white {
    color: white
}

.c-red {
    color: red;
}
  
.grid-c-1-8-1-r-5-5 {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  
.bg-lightblue2-opac {
    background: rgba(22, 155, 213, 0.8);
}

.bg-lightblue2 {
    background: rgba(22, 155, 213, 0.8);
}

.bg-lightblue2:hover,
.bg-lightblue2:active {
    background: #87C7EB
}

.bg-verylightblue {
    background: #D4F1FA;
}
  
.f-courgette-22 {
    font-family: 'Courgette', cursive;
    font-size: 22px;
}
  
.f-courgette-27 {
    font-family: 'Courgette', cursive;
    font-size: 27px;
}
  
.w-544 {
    width: 700px;
}

.w-540px {
    width: 540px;
}
  
.max-width-60 {
    max-width: 65%;
}
  
.bg-buttonbluestrong {
    background: #1C84C8;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
  
.bg-buttonbluestrong:hover {
    background: #138BBF;
    cursor: pointer;
}
  
.h-93 {
    height: 93%
}
  
.h-85 {
    height: 85%
}

.h-30 {
    height: 30%
}

.flex-grow-1 {
    flex-grow: 1;
}
  
.flex-grow-2 {
    flex-grow: 2;
}
  
.flex-self-end {
    align-self: flex-end;
}

.flex-stretch {
    align-items: stretch;
}

.shadow-6 {
    box-shadow: 4px 4px 8px 5px rgba(0,0,0,0.5);
}

.bg-blue {
    background: #1C84C8;
  }
  
.grow {
    transition: all .2s ease-in-out;
}
  
.grow:hover {
    transform: scale(1.05);
    background: #C3D7DE
}
  
.m-auto {
    margin: auto;
}
  
.f-arial-16-nc {
    font-family: Arial;
    font-size: 16px;
}
  
.f-arial-20-nc {
    font-family: Arial;
    font-size: 20px;
}
  
.f-arial-13 {
    font-family: Arial;
    font-size: 13px;
}

.f-shadow-1 {
    text-shadow: 2px 2px 5px gray;
}
  
.c-light-gray {
    color: #9CA6AE
}
  
.bold {
    font-weight: bold
}

.underline {
    text-decoration: underline;
}

.normal {
    font-weight: normal;
}
  
.c-dark-blue {
    color: #00449E
}
  
.bg-gray {
    background: rgb(80, 80, 80);
}
  
.c-offwhite {
    color: rgb(190, 190, 190);
}

.c-lightpurle {
    color: #C1C1E5
}
  
.bg-offwhite {
    background: rgb(238, 236, 236);
}

.bg-yellow-tr {
    background: rgba(255,217,00,0.8)
}

.w-content {
    width: fit-content;
}
  
.mw-400 {
    max-width: 400px;
}

.mw-540 {
    max-width: 540px;
}

.mw-100 {
    max-width: 100px;
}
  
.mh-640 {
    max-height: 640px;
}

.mh-600 {
    max-height: 600px;
}

.mh-100 {
    max-height: 100px;
}

.mh-500 {
    max-height: 500px;
}

.mh-160 {
    max-height: 160px;
}
  
.scroll {
    overflow: scroll;
}
  
.scroll-y {
    overflow-y: scroll;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

.f-arial-18-nc {
    font-family: Arial;
    font-size: 18px;
}
  
.h-auto {
    height: auto
}