.patientstate {
    background: url(images/medical-equipment-4099430_1920.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 75% 10% 10%;*/
}

.f-greatvibes-40 {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: #185A8A;
}