.signinbox {
    /*display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    justify-items: center;*/
    height: 98px;
    background: #1C84C8;
}

.signinlink {
    color: white;
    background: green;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #F1F6F7;
    cursor: pointer;
    margin: 10px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.67); 
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.67);
}

.signinlink:hover {
    background: lightgreen;
}

.registerlink {
    color: #39393A;
    background: gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #F1F6F7;
    cursor: pointer;
    margin: 10px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.67); 
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.67);
}

.registerlink:hover {
    background: #39393A;
    color: gray;
}

.profile-grid-1-3 {
    grid-column: 3;
    grid-row: 1;
}

#logoimg {
    height: 5em;
}

.mt-27px {
    margin-top: 27px;
}
  