ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.profile-menu {
    background: #F7F8FA;
    position: absolute;
}
  
.profile-item-highlighted {
    background: gray;
    color: white;
}
  
.bg-blue {
    background: #1C84C8;
}