
.row-color-selected {
    background: linear-gradient(to bottom, #1C84CB 0%, #FFFFFF 100%);
}

.row-color-light-blue {
    background: linear-gradient(to bottom, #AEDDED 0%, #FFFFFF 100%);
 }

.flex-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
}

