.bg-profile {
  background: #08B5FF;
  background: -moz-linear-gradient(top, #08B5FF 0%, #EFEFEF 100%);
  background: -webkit-linear-gradient(top, #08B5FF 0%, #EFEFEF 100%);
  background: linear-gradient(to bottom, #08B5FF 0%, #EFEFEF 100%);
}