.signinform {
    position: absolute;
    z-index: 1;
    display: block;
    left: 50%;
    top: 50%;
    height: 756px;
    width: 910px;
    background-color: rgba(255,255,255,0.76);
    border: solid #797979 1px;
    margin: -378px -455px
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.innerform {
    max-width: 300px;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}

.fieldset {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    font-family: Arial;
    color: #8c8c8c;
}

.formlegend {
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.userfield {
    margin-top: 3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.passwordfield {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.formlabel {
    display: block;
    font-size: 14px;
    margin-bottom: 7px;
}

#signup {
    font-size: 14px;
    font-family: arial;
    color: #8c8c8c;
    text-align: center;
    /*margin-left: 20px;*/
}

#signuplink {
    color: #169bd5;
}

.signintext {
    padding: 0.7rem;
    border-color: #8c8c8c;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: 300px;
}

.linkstyle {
    font-size: 12px;
    color: #169bd5;
    margin-left: 5rem;
}

.checkboxtext {
    font-size: 14px;
}

.checkboxsign {
    padding-right: 3em;
}

.loginbutton {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #169bd5;
    color: #ffffff;
    border-color: #797979;
    border-width: 0;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    /*margin-left: 100px;*/
}

.flexcenter {
    display: flex;
    justify-items: center;
}

.loginbutton.hover {
    background-color: #169bd5;
}

.ma3 {
    margin-top: 3;
}
