.medpermissions {
  background: #FCFCFC;
  background: -moz-linear-gradient(top, #FCFCFC 0%, #63B6E5 100%);
  background: -webkit-linear-gradient(top, #FCFCFC 0%, #63B6E5 100%);
  background: linear-gradient(to bottom, #FCFCFC 0%, #63B6E5 100%);   
}