.physicianstate {
    background: url(images/nurse-2141808_1920.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
}

.buttonphysician {
    background: #169BD5;
    font-family: "Oswald";
    font-size: 19px;
}