.registerform {
    position: absolute;
    z-index: 1;
    display: block;
    left: 50%;
    top: 50%;
    width: 910px;
    background-color: rgba(255,255,255,0.76);
    border: solid #797979 1px;
    margin: -286px -455px
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.innerform {
    max-width: 300px;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}

.errorMsg {
    color: red;
    font-weight: bold;
    background: #D4C1C7;
}

