.disabled {
  color: gray;
  /*background: gray;*/
  cursor: default;
}

.enabled {
  color: black;
  background: white;
  cursor: default;
}

.available {
  color: white;
  background: green;
  cursor: pointer;
}

.unavailable {
  color: white;
  background: red;
  cursor: default;
}

.selected {
  color: white;
  background: #4f8dd4;
}