.available {
  color: white;
  background: green;
  cursor: pointer;
  border: 1px solid black;
}

.unavailable {
  color: white;
  background: red;
  cursor: default;
}

.selected1 {
  background: #2492C0;
  color: black;
  border: 2px solid black;
}