.beforesigninstate {
    background: url(images/BeforeLogIn.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.whoweare {
    margin-top: 0px;
    padding-top: 0.8em;
    max-width: 900px;
    font-family: 'Good Times';
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px #585858;
    color: #37a6c4;
}

.doctorlistgrid {
    min-width: 900px;
}

