.backlinear {
  background: #FCFCFC;
  background: -moz-linear-gradient(top, #FCFCFC 0%, #63B6E5 100%);
  background: -webkit-linear-gradient(top, #FCFCFC 0%, #63B6E5 100%);
  background: linear-gradient(to bottom, #FCFCFC 0%, #63B6E5 100%); 
}

.me {
  background: #169BD5;
  color: #F2F2F2;
  align-self: flex-start;
}

.other {
  background: #F2F2F2;
  color: #169BD5;
  align-self: flex-end;
}

.fromStyle {
  font-size: 11px;
  opacity: 0.6;;
}

.dateStyle {
  font-size: 11px;
  opacity: 0.6;
  text-align: right;
}