.bg-linear {
  background: #18C7FF;
  background: -moz-linear-gradient(top, #18C7FF 0%, #FBFEFF 100%);
  background: -webkit-linear-gradient(top, #18C7FF 0%, #FBFEFF 100%);
  background: linear-gradient(to bottom, #18C7FF 0%, #FBFEFF 100%);
}

.send-custom {
  color: #333333;
  padding: 10px 15px 10px 15px
}

.send-custom:hover {
  background: #e6ffff;
}