.f-20 {
  font-size: 20px;
}

.backlinear {
  background: #FCFCFC;
  background: -moz-linear-gradient(top, #FCFCFC 0%, #63B6E5 100%);
  background: -webkit-linear-gradient(top, #FCFCFC 0%, #63B6E5 100%);
  background: linear-gradient(to bottom, #FCFCFC 0%, #63B6E5 100%); 
}

.unread {
  font-weight: bold;
}

.selectedChat {
  color: white;
  background: #4f8dd4;
  border-color: lightgray;
}